.bodyContainer>div h2>span {
    text-decoration: underline;
}

.custom-detail-message {
    margin: 23px 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: #F1EEEC;
    border-radius: 8px;
}

.custom-image {
    margin-left: 2px;
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.custom-message {
    margin-left: 24px;
    color: #3D2C3E;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

span.custom-message-bold {
    font-weight: 700;
}

@media (max-width:768px){
    .custom-detail-message {
        margin:23px 176px;
    }
}

@media (max-width:767px){
    .custom-detail-message {
        margin:23px 0px;
    }
}

@media (max-width:367px){
    .custom-detail-message {
        margin:15px 0px;
        margin-bottom:10px;
    }
}